<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>listproductadmin</servlet-name>
        <servlet-class>controller.admin.listproductadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>controller.admin.loginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductAdmin</servlet-name>
        <servlet-class>controller.admin.addProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryAdmin</servlet-name>
        <servlet-class>controller.admin.categoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.addCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.editCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.deleteCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductAdmin</servlet-name>
        <servlet-class>controller.admin.deleteProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAdmin</servlet-name>
        <servlet-class>controller.admin.editProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutAdmin</servlet-name>
        <servlet-class>controller.admin.logoutAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listproductadmin</servlet-name>
        <url-pattern>/admin/listproductadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/admin/loginAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductAdmin</servlet-name>
        <url-pattern>/admin/addProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryAdmin</servlet-name>
        <url-pattern>/admin/categoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryAdmin</servlet-name>
        <url-pattern>/admin/addCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategoryAdmin</servlet-name>
        <url-pattern>/admin/editCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategoryAdmin</servlet-name>
        <url-pattern>/admin/deleteCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductAdmin</servlet-name>
        <url-pattern>/admin/deleteProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAdmin</servlet-name>
        <url-pattern>/admin/editProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutAdmin</servlet-name>
        <url-pattern>/admin/logoutAd</url-pattern>
    </servlet-mapping>
</web-app>
